<!DOCTYPE html>
<html>
    <head>
        <title>Ragul's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Ragul's Blog</a></h1>
        </header>

        <article>
            <time>published: 25.12.2022, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Carpe Diem and merry Christmas.</p>
        </article>

        <article>
            <time>published: 25.12.2022, 20:04</time>
            <h2><a href="">My second post</a></h2>
            <p>This has been a very informative experience. Lookig forward to further improving my knowledge.</p>
        </article>
    </body>
</html>